<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box box-logo">
            <div class="box-img-content">
                <img class="img-footer" src="../../../assets/images/logo.png" alt="logo">
            </div>
            <div>
                <h3 class="text-light">AGRISOFT</h3>
            </div>
        </div>
        <div class="box box-links">
            <h2 class="title_info">INFORMACIÓN</h2>
            <a href="/product-list">Productos de nuestros proveedores</a>
            <a href="https://drive.google.com/file/d/1yIkH2z2gBuFtaLFItcHfHF4s7R-KVFkB/view?usp=share_link">Antecedentes culturales</a>
            <a href="./reportes">Conoce los reportes comunitarios</a>
            <a (click)=" SweetAlert2()">Politicas de privacidad</a>
        </div>
        <div class="box box-footer">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://es-la.facebook.com/AgriculturaEcuador/photos" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/agricultura.organica/" class="fa fa-instagram"></a>
                <a href="https://twitter.com/AgriculturaEc" class="fa fa-twitter"></a>
                <a href="https://www.youtube.com/c/juangangelrTvAgro" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Agrisoft</b> - Todos los Derechos Reservados.</small>

    </div>
</footer>