    <head>
        <title>AGRISOFT</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS v5.2.0-beta1 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script defer src="./js/scrooll.js"></script>
    </head>
    <header class="header">
    <nav class=" navbar centrarlogo navbar-expand-lg navbar-dark p-md-3">
        <div class="container">
    
            <div>
                <img src="../../../assets/images/logo.png" width="35px" alt="logo">
                <a class="navbar-brand" style="color:#3E0E12; font-weight: bold;" href="./ag-admin">Administrador</a>
            </div>
    
        </div>
    </nav>
    </header>
<!--     <div class="head ">
        <div class="container">
          <img class="imglogo" src="../../../assets/images/logo.png" width="35px" alt="logo">
          <a class="navbar-brand" style="color:#f3e7e8; font-weight: bold; text-decoration: none;" href="#">AGRISOFT</a>
        </div>

        <nav class="navbar navbar-nav">
            <a href="./perfil-form">Administrar<br>Atención</a>
            <a href="./perfil-list">Lista de Perfiles</a>
            <a href="./product-listone">Lista de Productos</a>
            <a href="./product-form">Agregar Producto</a>
        </nav>
    </div> -->
    <body>
        
    
    <section class="content sau">
        <div class="box-container">

            <div class="box">
                <i class="fa fa-user-shield"></i>
                <a href="./perfil-form" style="padding: 2%;"><button type="button" class="btn btn-success"  routerLinkActive="router-link-active" >Registrar perfiles</button></a>
                <p><b>Registro de perfiles</b><br> En esta sección crea perfiles de personal de atención agraria</p>
            </div>
            <div class="box">
                <i class="fa fa-list"></i>
                <a href="./perfil-list" style="padding: 2%;"><button type="button" class="btn btn-success"  routerLinkActive="router-link-active" >Lista de perfiles</button></a>
                <p><b>Perfiles de atención</b><br>En esta sección podrás ver los perfiles registrados</p>
            </div>
            <div class="box">
                <i class="fa fa-list"></i>
                <a href="./product-listone" style="padding: 2%;"><button type="button" class="btn btn-success"  routerLinkActive="router-link-active" >Lista de productos</button></a>
                <p><b>Lista de productos</b><br>En esta sección podras ver los productos registrados</p>
            </div>
            <div class="box">
                <i class="fa fa-plus"></i>
                <a href="./product-form" style="padding: 2%;"><button type="button" class="btn btn-success"  routerLinkActive="router-link-active" >Agregar producto</button></a>
                <p><b>Registrar producto</b><br>En esta sección podrás registrar un producto</p>
            </div>
            <div class="box">
                <i class="fa fa-chart-bar"></i>
                <a href="./dashboard" style="padding: 2%;"><button type="button" class="btn btn-success"  routerLinkActive="router-link-active" >Dashboard</button></a>
                <p><b>Estadística</b><br>En esta sección podras observar gráficos de acuerdo a la web</p>
            </div>
            <div class="box">
                <i class="fa fa-users"></i>
                <a href="./user-list" style="padding: 2%;"><button type="button" class="btn btn-success"  routerLinkActive="router-link-active" >Usuarios registrados</button></a>
                <p><b>Usuarios registrados</b><br>En esta sección podras observar los usuarios registrados</p>
            </div>
        </div>
    </section>
</body>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box box-logo">
                <div class="box-img-content">
                    <img class="img-footer" src="../../../assets/images/logo.png" alt="logo">
                </div>
                <div>
                    <h3 class="text-light" style="font-size:20px">AGRISOFT</h3>
                </div>
            </div>
            <div class="box box-footer">
                <h2 style="font-size:35px">Contactos</h2>
                <div class="red-social">
                    <a href="https://es-la.facebook.com/AgriculturaEcuador/photos" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/agricultura.organica/" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/AgriculturaEc" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/c/juangangelrTvAgro" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Agrisoft</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
    
