<head>
    <title>AGRISOFT</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script defer src="./js/scrooll.js"></script>
</head>
<section id="wrapper" class="error-page">
    <div class="error-box">
        <img class="img" src="../../assets/images/error.png" alt="">
    </div>
    <div class="error-body text-center">
        <h1 class="text-danger">OOPS !</h1>
        <a href="index.html" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to home</a>
        <hr>
        <footer class="footer text-center">© 2023 AGRISOFT.</footer>
    </div>
</section>